@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 mt-3 my-5 text-center">
    <i class="bi bi-people-fill fs-1 text-dark"></i>
    <h1 class="display-5 fw-bold text-body-emphasis">Gestión de usuarios</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sistema de gestión de usuarios que contiene las herramientas CRUD para tener una
            operatividad óptima en el servicio.</p>
        <div class="d-grid gap-2 mt-3 d-sm-flex justify-content-sm-center">
            <form asp-area="" asp-controller="Usuario" asp-action="Crear" method="get">
                <button type="submit" class="btn btn-outline-primary btn-lg px-4 gap-3">Crear</button>
            </form>
            <form asp-area="" asp-controller="Usuario" asp-action="Index" method="get">
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Mostrar</button>
            </form>
            <form asp-area="" asp-controller="Usuario" asp-action="SolicitudEditar" method="get">
                <button type="submit" class="btn btn-outline-warning btn-lg px-4">Editar</button>
            </form>
            <form asp-area="" asp-controller="Usuario" asp-action="SolicitudEliminar" method="get">
                <button type="submit" class="btn btn-outline-danger btn-lg px-4">Eliminar</button>
            </form>
        </div>
    </div>
</div>