@model Usuario;

<h1>@ViewData["Title"]</h1>

<h3>¿Deseas eliminar este usuario?</h3>
<div>
    <h4>Usuario:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre @Model.Apellido
        </dd>
    </dl>
    <form asp-controller="Usuario" asp-action="Eliminar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>